{# empty Twig template #}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
<div class="divPrincipale">
<h3 class="titre">Visiteur</h3>
           <table>
                <tr>
                <td> Frais au forfait</td>
                <td>  Etat </td>
                <td>  Fiche frais</td>
                <td>  Ligne frais forfait</td>
                <td>  Ligne frais hors forfait</td>
                </tr>
           </table> 
                     
</div>
	</body>
</html>
