<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
<div class="divPrincipale">
<h3 class="titre" >Ajouter frais forfait</h3>
		{{ form(form) }}
</div>
	</body>
</html>
